<div class="signup">
  <p class="head">SignUp</p>
  <div class="d-flex align-items-center flex-column justify-content-center h-100">
    <form class="col-md-4" name="signupForm" ng-submit="signup()" novalidate>
      <div class="form-group mt-1">
        <input class="form-control form-control-md" placeholder="Username*" type="text" name="userName" ng-model="user.userName" ng-minlength="3" required>
      </div>
      <div class="errMsg" ng-if="signupForm.userName.$touched || signupFormData.email.$dirty">
        <small ng-if="signupForm.userName.$error.required" class="text-danger">Username is required</small>
        <small ng-if="signupForm.userName.$invalid && !signupForm.userName.$error.required" class="text-danger">Username must be > 3 characters</small>
      </div>

      <div class="form-group">
        <input class="form-control form-control-md" placeholder="Email*" type="email" name="email" ng-model="user.email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
      </div>
      <div class="errMsg" ng-if="signupForm.email.$touched || signupForm.email.$dirty">
        <small ng-if="signupForm.email.$error.required" class="text-danger">Email ID is required</small>
        <small ng-if="signupForm.email.$error.pattern" class="text-danger">Enter a valid email id (in lower case)<br>(eg. hritvik@gm.com)</small>
        <small ng-if="duplicateEmail" class="text-danger">This email id is already in use</small>
      </div>

      <div class="form-group">
        <input class="form-control form-control-md" placeholder="Address" type="text" name="address" ng-model="user.address">
      </div>

      <div class="form-group">
        <input class="form-control form-control-md" placeholder="Contact Number*" type="number" name="phoneNumber" ng-pattern="/^\d{10}$/" ng-model="user.phoneNumber" required>
      </div>
      <div class="errMsg" ng-if="signupForm.phoneNumber.$touched || signupForm.phoneNumber.$dirty">
        <small ng-if="signupForm.phoneNumber.$error.required" class="text-danger">Contact Number is required</small>
        <small ng-if="signupForm.phoneNumber.$error.pattern" class="text-danger">Enter a valid 10 digit contact number<br>(eg. 1234567890)</small>
      </div>

      <div class="form-group">
        <input class="form-control form-control-md" placeholder="Password*" type="password" name="pass" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{4,}$/" ng-model="user.pass" required>
      </div>
      <div class="errMsg" ng-if="signupForm.pass.$touched || signupForm.pass.$dirty">
        <small ng-if="signupForm.pass.$error.required" class="text-danger">Password is required</small>
        <small ng-if="signupForm.pass.$error.pattern" class="text-danger">Password must contain at least 4 chars, 1 lower, 1 upper & 1 digit<br>(eg. Abbc34, GHYw0078, Hrit0)</small>
      </div>

      <div class="form-group">
        <input class="form-control form-control-md" placeholder="Confirm Password*" type="password" name="confirmPass" ng-model="confirmPass" compare-pass="user.pass" required>
      </div>
      <div class="errMsg" ng-if="signupForm.confirmPass.$touched || signupForm.confirmPass.$dirty">
        <small ng-if="signupForm.confirmPass.$error.required" class="text-danger">Confirm Password is required</small>
        <small ng-if="signupForm.confirmPass.$error.comparePass && !signupForm.confirmPass.$error.required" class="text-danger">Passwords doesn't match</small>
      </div>

      <div class="form-group mt-5">
        <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-warning btn-lg btn-block"><i class="fas fa-user-plus"></i>&nbsp;SignUp</button>
      </div>
    </form>
  </div>
</div>
